<h1>Welcome to my knife shop!</h1>
<%= render "shared/cart" %>
<p> User #</p><%= current_buyer.id %>
<h2>Product categories:</h2>
<table>
	<% @categories.each do |category| %>
		<tr>
			<td><%= category.name %></td>
			<td><%= link_to "show products", category %>
		</tr>
	<% end %>
</table>

<h2>Available products:</h2>
<table>
	<% @products.each do |product| %>
		<tr>
			<td><%= product.name %></td>
			<td><%= link_to "details", product %>
		</tr>
	<% end %>
</table>