<h1>Your cart</h1>
<% if @cart.order_items == [] %>
	<p>Your cart is currently empty.</p>
<% else %>
	<table>
	<tr>
			<td><b>Product</b></td>
			<td><b>Quantity</b></td>
			<td><b>Price</b>
	</tr>
	<% @cart.order_items.each do |order_item| %>
		<tr>
			<td><%= order_item.product.name %></td>
			<td><%= order_item.quantity %></td>
			<td>$<%= order_item.price / 100.0 %>
			<% @price += order_item.price %>	
		</tr>
	<% end %>
	</table><br>
	<b>Total: </b>$<%= @price / 100.0 %><br>
	<%= link_to 'Confirm', :controller => 'orders', :action => 'confirm' %>
<% end %>